# This workflow builds and pushes a tagged docker image from the master branch
name: publish-release

on:
  push:
    tags:
      - '*'

env:
  GCP_REPO: us-west2-docker.pkg.dev/askdarcel-184805/sheltertech/askdarcel-api
  DOCKER_REPO: sheltertechsf/askdarcel-api

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
            prefix=
            suffix=
          images: |
            ${{ env.GCP_REPO }}
            ${{ env.DOCKER_REPO }}
          tags: |
            type=semver,pattern={{version}}
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      # Login to google registry
      - uses: docker/login-action@v3
        with:
          registry: us-west2-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}


      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      # Authenticate with Google Cloud
      - uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - run: echo ${{ steps.docker_build.outputs.digest }}
